<Settings date="2020-03-31 18:58:11.255350">
    <node id="0">
        <internal_osc_dest_host>localhost</internal_osc_dest_host>
        <internal_osc_in_port>7700</internal_osc_in_port>
        <internal_osc_out_port>7701</internal_osc_out_port>
        <video_osc_port>7710</video_osc_port>
        <videoplayer_path>/usr/bin/xjadeo</videoplayer_path>
        <number_of_displays>2</number_of_displays>
        <audio_osc_port>7720</audio_osc_port>
        <audioplayer_path>/audio/player/path</audioplayer_path>
        <number_of_audio_cards>2</number_of_audio_cards>
    </node>
    <node id="1">
        <dmx_universe>0</dmx_universe>
        <midi_channel>0</midi_channel>
    </node>
    <thing id="0">
        <parameter_x>3</parameter_x>
        <parameter_y>45</parameter_y>
    </thing>
</Settings>