[Unit]
Description=cuems-engine
After=network.target network-online.target

[Service]
Type=simple
Restart=always
ExecStartPre=/bin/mkdir -p /var/run/cuems-engine
PIDFile=/var/run/cuems-engine/service.pid
ExecStart=/home/stagelab/.pyenv/versions/cuems/bin/python3.7 /home/stagelab/src/cuems/cuems-engine/src/engine.py

[Install]
WantedBy=multi-user.target