[Unit]
Description=ws-server
After=network.target network-online.target

[Service]
Type=simple
Restart=always
ExecStartPre=/bin/mkdir -p /var/run/ws-server
PIDFile=/var/run/ws-server/service.pid
ExecStart=/home/stagelab/.pyenv/versions/3.7.3/bin/python3.7 /home/stagelab/src/cuems/osc_control/src/ws-server.py

[Install]
WantedBy=multi-user.target