#!/usr/bin/make -f
%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	# Use existing venv at /usr/lib/cuems (created by cuems-utils)
	# Install package into it
	dh_virtualenv --python python3 \
		--install-suffix cuems \
		--use-system-packages

override_dh_auto_clean:
	rm -rf build *.egg-info src/*.egg-info
	find . -name '*.pyc' -delete
	find . -name '__pycache__' -type d -exec rm -rf {} + 2>/dev/null || true
	dh_auto_clean

override_dh_fixperms:
	# Remove .gitignore files installed by dh_virtualenv
	find debian/cuems-engine -name ".gitignore" -delete
	# Remove virtualenv infrastructure files (provided by cuems-utils)
	find debian/cuems-engine/usr/lib/cuems/bin -name "activate*" -delete
	find debian/cuems-engine/usr/lib/cuems/bin -name "pip*" -delete
	find debian/cuems-engine/usr/lib/cuems/bin -name "python*" -delete
	find debian/cuems-engine/usr/lib/cuems/bin -name "wheel*" -delete
	find debian/cuems-engine/usr/lib/cuems/bin -name "xmlschema-*" -delete
	find debian/cuems-engine/usr/lib/cuems/bin -name "pwiz.py" -delete
	# Remove mido console scripts (not needed)
	find debian/cuems-engine/usr/lib/cuems/bin -name "mido-*" -delete
	rm -f debian/cuems-engine/usr/lib/cuems/pyvenv.cfg
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/_virtualenv.*
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/_distutils_hack
	# Remove shared dependencies (provided by cuems-utils)
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/aiofiles-24.1.0.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/cffi-2.0.0.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/Deprecated-1.2.18.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/elementpath-4.8.0.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/json_fix-1.0.0.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/lxml-5.3.0.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/peewee-3.17.8.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/pip-25.1.1.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/pycparser-2.23.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/pynng-0.8.1.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/setuptools-80.3.1.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/sniffio-1.3.1.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/timecode-1.4.1.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/websockets-14.1.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/wheel-0.45.1.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/wrapt-1.17.3.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/xmlschema-3.4.3.dist-info
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/cuemsutils-0.1.0rc4.dist-info
	# Remove shared package directories (provided by cuems-utils)
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/aiofiles
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/cffi
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/deprecated
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/elementpath
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/json_fix
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/lxml
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/peewee.py
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/playhouse
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/pycparser
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/pynng
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/setuptools
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/sniffio
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/timecode
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/websockets
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/wrapt
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/xmlschema
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/cuemsutils
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/pip
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/pkg_resources
	# Remove shared binary files (provided by cuems-utils)
	find debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages -name "*.so" -delete
	# Remove shared .pth files (provided by cuems-utils)
	find debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages -name "*.pth" -delete
	# Remove shared .virtualenv files (provided by cuems-utils)
	find debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages -name "*.virtualenv" -delete
	# Remove shared files (provided by cuems-utils)
	rm -f debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/pwiz.py
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/tests
	rm -rf debian/cuems-engine/usr/lib/cuems/lib/python3.11/site-packages/wheel
	# Remove __pycache__ directories from installed package
	find debian/cuems-engine -type d -name '__pycache__' -exec rm -rf {} + 2>/dev/null || true
	find debian/cuems-engine -name '*.pyc' -delete
	find debian/cuems-engine -name '*.pyo' -delete
	dh_fixperms

override_dh_auto_test:
	# Skip tests during package build
