<?xml version="1.0" encoding="UTF-8"?>
<cms:CuemsSettings xmlns:cms="https://stagelab.coop/cuems/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://stagelab.coop/cuems/ ../cuems/settings.xsd">
    <Settings>
        <library_path>/opt/cuems_library</library_path>
        <tmp_path>/tmp/cuems</tmp_path>
        <database_name>project-manager.db</database_name>
        <show_lock_file>show.lock</show_lock_file>
        <node>
            <uuid>0367f391-ebf4-48b2-9f26-000000000001</uuid>
            <mac>2cf05d21cca3</mac>
            <osc_dest_host>localhost</osc_dest_host>
            <oscquery_ws_port>9090</oscquery_ws_port>
            <oscquery_osc_port>9091</oscquery_osc_port>
            <websocket_port>9092</websocket_port>
            <load_timeout>15000</load_timeout>
            <nodeconf_timeout>5000</nodeconf_timeout>
            <discovery_timeout>15000</discovery_timeout>
            <mtc_port>Midi Through Port-0</mtc_port>
            <osc_in_port_base>7000</osc_in_port_base>
            <videoplayer>
                <path>/usr/bin/xjadeo</path>
                <args>--ontop --fullscreen --no-splash --quiet --no-initial-sync --midi-driver alsa-seq --ignore-file-offset</args>
                <outputs>2</outputs>
            </videoplayer>
            <audioplayer>
                <path>/usr/local/bin/audioplayer-cuems</path>
                <args>-w -1</args>
                <audio_cards>1</audio_cards>
            </audioplayer>
            <dmxplayer>
                <path>/usr/local/bin/dmxplayer-cuems</path>
                <args></args>
                <universes>1</universes>
            </dmxplayer>
        </node>
    </Settings>
</cms:CuemsSettings>
