<?xml version="1.0" encoding="UTF-8" ?>
<cms:Settings xmlns:cms="http://stagelab.net/cuems" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://stagelab.net/cuems settings.xsd">
    <library_path>/home/calamar/cuems_library/</library_path>
    <node id="0" master="1">
        <osc_dest_host>localhost</osc_dest_host>
        <oscquery_port>7700</oscquery_port>
        <oscquery_out_port>7701</oscquery_out_port>
        <websocket_port>9092</websocket_port>
        <mtc_port>Midi Through Port-0</mtc_port>
        <videoplayer>
            <path>/usr/bin/xjadeo</path>
            <args>--no-splash --no-initial-sync</args>
            <outputs>2</outputs>
            <osc_in_port_base>7710</osc_in_port_base>
        </videoplayer>
        <audioplayer>
            <path>/usr/local/bin/audioplayer-cuems</path>
            <args></args>
            <audio_cards>1</audio_cards>
            <osc_in_port_base>7730</osc_in_port_base>
        </audioplayer>
        <dmxplayer>
            <path>/usr/local/bin/dmxplayer-cuems</path>
            <args></args>
            <universes>1</universes>
            <osc_in_port_base>7740</osc_in_port_base>
        </dmxplayer>
    </node>
</cms:Settings>